body {
  font-family: Arial, sans-serif;
  background-color: #2196F3; /* Blue background color */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff; /* White container background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  color: #2196F3; /* Blue heading color */
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #2196F3; /* Blue button background color */
  color: #fff; /* Button text color */
  padding: 10px;
  /* border: none; */
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1976D2; /* Darker blue on hover */
}

button {
  /* background: none;
  border: none; */
  color: #2196F3;
  cursor: pointer;
}

button:focus {
  outline: none;
}
